/* CSS for selected spaceship card */
.selected-card {
    border: 2px solid #00f !important; /* Blue border to indicate selection */
    border-radius: 10px; /* Optional: adds rounded corners */
    transition: border 0.3s ease; /* Optional: smooth transition effect */
}

/* Ensure the styling targets the correct element */
.selected-card .sc-card-product {
    border: none; /* Prevent any conflicting borders within the card */
}

/* CSS for the Create Team button */
.create-team-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

.create-team-button.enabled {
    background-color: var(--primary-color3);
    color: white;
    cursor: pointer;
}

.create-team-button.disabled {
    background-color: #aaa;
    color: white;
    cursor: not-allowed;
}

/* CSS for the notification */
.notification {
    color: red;
    margin-top: 10px;
}

.mint-section {
    margin-top: 40px;
    text-align: center;
    background: #1f1f2e;
    padding: 30px;
    border-radius: 10px;
}

.mint-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.mint-section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #7a7a7a;
}

.input-mint {
    margin-bottom: 20px;
}

.input-mint label {
    display: block;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
}

.input-mint input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3a3a3a;
    background: #2c2c3a;
    color: #fff;
}

/* MINT SECTION*/
.mint-section {
    margin-top: 40px;
    text-align: center;
    background: #1f1f2e;
    padding: 30px;
    border-radius: 10px;
}

.mint-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.mint-section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #7a7a7a;
}

.input-mint {
    margin-bottom: 20px;
}

.input-mint label {
    display: block;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
}

.input-mint input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3a3a3a;
    background: #2c2c3a;
    color: #fff;
}

.mint-section .mint-button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3a3a3a;
    color: #fff;
    transition: background-color 0.3s;
}

.mint-section .mint-button.enabled {
    background-color: #00b894;
}

.mint-section .mint-button.disabled {
    background-color: grey;
    cursor: not-allowed;
}

.mint-section .notification {
    margin-top: 20px;
    font-size: 16px;
    color: #ff7675;
}

.slider-ships {
    margin-top: 40px;
    width: 50%;
}

.flat-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 45%;
}

@media (max-width: 768px) {
    .flat-slider {
        flex-direction: column;
    }

    .slider-ships,
    .content {
        width: 100%;
    }
}
